{% load static %}
{% block body %}
<body>
<div class="container" style="margin-top:30px">
    <center><h2 class="text-center">Users Table</h2></center>
    <br><br><br>
    <style>
        table, th, td {
          border: 1px solid rgb(15, 8, 8);
          border-collapse: collapse;
        }
        
        table.center {
          margin-left: auto; 
          margin-right: auto;
        }
        body {
     background: url('') fixed;
    background-size: cover;
}
        </style>
    <table class="center">
        <tr>
          <th>Username</th>
          <th>User Email</th>
          <th>User password</th>          
        </tr>
        {% for i in a %}
        
        <tr>
          <td>{{i.username}}</td>
          <td>{{i.email}}</td>
          <td>{{i.password}}</td>
        </tr>
      
        {% endfor %}
      </table>
</div>
{% endblock %}
</body>